<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:name=".controlers.AppController"
        android:allowBackup="true"
        android:label="@string/app_name_parmacy"
       android:icon="@drawable/ic_22"
        android:roundIcon="@drawable/ic_22"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".product_properaties_activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity android:name=".product_catigoy"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".add_product_activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".about_project"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".catigory_add"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".setting_activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".Category_List"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".SignUpActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>

        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>